.ion-md-seat0 {
    content: url("../svg/seat0.svg")
}
.ion-md-seat1 {
    content: url("../svg/seat1.svg")
}
.ion-md-seat2 {
    content: url("../svg/seat2.svg")
}
.ion-md-seat3 {
    content: url("../svg/seat3.svg")
}
.ion-md-seat4 {
    content: url("../svg/seat4.svg")
}